@import '_variabiles.scss';

.feedback {
  padding-top: 40px;
  padding-bottom: 70px;

  @media (max-width: 1024px) {
    padding-top: 43px;
  }

  @media (max-width: 576px) {
    padding-top: 42px;
  }
  
  & .container {
    row-gap: 0;
    background-image: url('images/feedback-backgr.png');
    background-repeat: no-repeat;
    background-position: right 3.5% center;

    @media (max-width: 1024px) {
      background-position: right center;
      background-size: 54%;
    }

    @media (max-width: 768px) {
      background-image: url('images/feedback-backgr-mini.png');
      background-size: 30%;
    }

    @media (max-width: 576px) {
      background-image: none;
    }
  }

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 0;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;

    @media (max-width: 576px) {
      font-size: 24px;
    }
  }

  &__text {
    grid-column: span 6;
    grid-row: 2 / 3;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $text;

    @media (max-width: 1024px) {
      grid-column: span 4;
    }

    @media (max-width: 576px) {
      grid-column: 1 / -1;
    }
  }

  &__form {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    max-width: 624px;

    @media (max-width: 1024px) {
      max-width: 405px;
    }

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }
}

