$primary: #A65CF0;
$primaryLight: #C998FB;
$primaryDark: #7033AC;
$primaryLightest: #EBD1FF;
$secondary: #FF862F;
$secondaryLight: #FFBD59;
$secondaryDark: #BB370E;
$secondaryLightest: #FFF5D1;
$danger: #FF6972;
$success: #B8EC64;
$background: #F7F7F7;
$backgroundDark: #EAEAEA;
$backgroundInputFocus: #F8EFFF;
$text: #666666;
$textLight: #999999;
$textDark: #333333;
$textAccent: #FFFFFF;
